header#header.fixed-top(style="background-color:#468fb1;")
  .container.d-flex.align-items-center
    h1.logo.me-auto
      a(href='index.html') Invoice-G
    // Uncomment below if you prefer to use an image logo
    // <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>
    nav#navbar.navbar(style="background-color:#468fb1;")
      ul
        li
          a.nav-link.scrollto.active(href='#hero') Home
        li
          a.nav-link.scrollto(href='#about') About
        li
          a.nav-link.scrollto(href='#services') Services
        
        li
          a.nav-link.scrollto(href='#contact') Contact
        li
          a.getstarted.scrollto(href='/login') Login
      i.bi.bi-list.mobile-nav-toggle
    // .navbar
// End Header